<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Mailgate, <%= @user.name || '' %></h1>
    <p>
      Since we know it's a pain to remember passwords, our system ouses <b>passwordless authentication</b>. All you need to do is click the link below to authorize this computer.
    </p>
    <p>
      <%= link_to @activation_url, @activation_url %>
    </p>
    <p>
      I know you're gonna love using Mailgate. Have a a fantastic day!
    </p>
  </body>
</html>