<h1>Activating extension</h1>

<div class="js-extension-auth extension-auth" data-token="<%= @token %>">
  <div class="js-working working">Authenticating...</div>
  <div class="js-done done hidden">Success!</div>
<div>

<p>If you are stuck on this page the browser extension may not have installed correctly. Try reinstalling it.<p>